:root {
    --fuentePrincipal: 'Montserrat', sans-serif;
    --non-photo-blue: #abdae1ff;
    --red-crayola: #ee4266ff;
    --mustard: #f8d23aff;
    --paynes-gray: #4a6670ff;
    --blanco: #fff;
    --raisin-black: #272838ff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--paynes-gray);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

.contenedor-principal {
    max-width: 144rem;
    margin: 3rem auto;
    background-color: var(--blanco);
    border-radius: 2rem;
    width: 90%;
}

.header {
    background-color: var(--mustard);
    min-height: 20rem;

    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
}

.logo {
    color: var(--raisin-black);
    font-size: 15rem;
    text-transform: uppercase;
    font-weight: 700;
}

.tema {
    color: var(--paynes-gray);
    font-size: 3.5rem;
    font-weight: 700;
    font-style: italic;
}

.tema span {
    color: var(--red-crayola);
    font-size: 4rem;
    font-weight: 700;
}

.main {
    margin: 3r;

    min-height: 50rem;
}

.navegacion {
    margin: 2rem;
    display: flex;
    justify-content: center;

}

.boton {
    margin: 2rem;
    background-color: var(--raisin-black);
    color: var(--mustard);
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: .5rem;
    transition: font-size 0.3s ease;
    cursor: pointer;
    text-align: center;
    border: none;
}

.boton:hover {
    background-color: var(--red-crayola);
    font-size: 2.5rem;

}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(39, 40, 56, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}

.off {
    display: none;
}

.modal__content {
    min-width: 40%;
    padding: 1rem 2rem;
    background-color: var(--blanco);
    border-radius: 2rem;
    max-height: 65%;
    overflow: auto;
    min-height: 30rem;
    -ms-overflow-style: none;
}
.modal__content::-webkit-scrollbar {
    display: none;
}
.modal__titulo {
    margin-bottom: 1rem;
    color: var(--mustard);
    font-size: 2rem;
    padding: 2rem;
    background-color: var(--red-crayola);

    font-weight: 700;
    border-radius: 1.5rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.modal__cuerpo {
    padding: 2rem;
    margin: 1rem;
    font-size: 2.5rem;
    
}

.cerrar {
    padding: 1.2rem;
    background-color: var(--paynes-gray);
    text-align: center;
    border-radius: 5rem;
    cursor: pointer;
    width: 5rem;
}

.cerrar:hover {
    background-color: var(--raisin-black);

}

.campo {
    margin: 2rem;
}

.form {

    margin: 2rem auto;
}

.label {
    display: block;
    margin: 1rem;
    font-size: 2rem;
}

.txtcampo {
    display: block;
    padding: 2rem;
    width: 90%;
    font-size: 2rem;
    border-radius: 1rem;
    border: solid 2px var(--non-photo-blue);
}

.error,.ok{
    padding: 2rem;
    color: var(--blanco);
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    border-radius: 1rem;
}
.error{
    background-color: rgb(250, 128, 128);
    color: rgb(121, 4, 4);
}
.ok{
    background-color: rgb(24, 185, 24);
    
}
.saludo{
    text-align: center;
    font-size: 2.5rem;
    color: var(--raisin-black);
    text-transform: uppercase;
}
.saludo span{
    color: var(--paynes-gray);
}
@media (max-width: 1200px) {
    .header {
        flex-direction: column;
        min-height: 15rem;
    }
    .logo {
        font-size: 12rem;
    }
    .tema {
        font-size: 3rem;
    }
    .tema span {
        font-size: 4rem;
    }
}
@media (max-width: 768px){
    .boton {
        width: 90%;
    }
    .header{
        min-height: 5rem;
    }
    .navegacion {
        flex-direction: column;
    }
    .logo {
        font-size: 5rem;
    }
    .tema {
        font-size: 2rem;
    }
    .tema span {
        font-size: 2.5rem;
    }
}